<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>矫正日记</title>
  </head>
  <body>
    <div id="app"></div>
  <script type="text/javascript" src="/app/runtime/runtime.c599bb8babee593bd441.js"></script><script type="text/javascript" src="/app/babel-polyfill/babel-polyfill.c599bb8babee593bd441.js"></script><script type="text/javascript" src="/app/vender/vender.c599bb8babee593bd441.js"></script><script type="text/javascript" src="/app/index/index.8ebcc82cd99ca99b432c.js"></script></body>
</html>
