.not_found {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.53rem;
  margin-left: -1.8rem;
  & .img-cover {
    width: 1.66rem;
    margin: 0 auto;
    height: 1.98rem;
    background: url('../images/notFound.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  & .tip {
    width: 3.6rem;
    margin: 0 auto;
    font-size: .3rem;
    color: #999;
    text-align: center;
    line-height: .54rem;
    & a {
      color: #18003f;
    }
  }
}
